footer {
   color: #fff;
   background-color: #424642;
   text-align: center;
   padding: 15px;

   p {
   line-height: 20px;
   }

   p:first-of-type {
      font-size: 2rem;
   }

   p:last-child {
      color: #d1d1d1;
      font-size: 1.7rem;
      letter-spacing: -0.5px;
   }
}