footer {
   color: #fff;
   background-color: #424642;
   text-align: center;
   padding: 15px;

   p:first-of-type {
      font-size: 2rem;
   }

   p:last-child {
      font-size: 1.6rem;
      letter-spacing: -1px;
   }
}