// #myVideo {
//    width: 100vw;
//    height: 100vh;
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    opacity: 0.9;
// }

header {
   height: 95vh;
   min-height: 600px;
   background-image: linear-gradient(
      to right bottom, 
      rgba(166, 207, 213, 0.801), 
      rgba(219, 252, 255, 0.801)), 
      url(../images/mac.jpg);
   background-size: cover;
   background-position: top;
   position: relative;

   clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      //    &::after {
      //       content: "";
      //       position: absolute;
      //       background-color: #A6CFD5;
      //       height: 21px;
      //       left: -3px;
      //       bottom: 10px;
      //       width: 104%;
      //       z-index: -1;
      // }
}

.name {
   // position: absolute;
   // top: 20%;
   // left: 35%;
   // transform: translate(-50%, -50%);
}

.main-heading {
   color: #fff;
   text-transform: uppercase;
   position: absolute;
   top: 20%;
}

.intro-name {
   display: block;
   font-size: 6rem;
   font-weight: 400;
   letter-spacing: 35px;
}

.job-title {
   display: block;
   font-size: 2rem;
   font-weight: 700;
   letter-spacing: 17px;

   // &::after {
   //    content: "";
   //    position: absolute;
   //    background-color: #A6CFD5;
   //    height: 10px;
   //    left: -3px;
   //    bottom: -3px;
   //    width: 102%;
   //    z-index: -1;
   // }
}

@keyframes moveInLeft {
   0% {
      opacity: 0;
      transform: translateX(-100px);
   }
   80% {
      transform: translateX(10px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}