header {
   height: 80vh;
   min-height: 500px;
   max-height: 600px;
}

.header-content {
   display: flex;
}

.self-container {
      width: 400px;
      height: 400px;
      margin: 60px 60px 60px 0;
      position: relative;
      cursor: pointer;

   .self-drawing, .self-pic {
      display: inline-block;
      width: 100%;
      border: 2px solid #557174;
      border-radius: 10px;
      position: absolute;
      transition: all 1s ease;
   }

}

.hidden {
   opacity: 0;
}

.shown {
   opacity: 1;
}

.name {
   width: 60%;
   margin: 80px 0;
   
}

h1 {
   font-size: 6rem;
   text-shadow: 9px 9px 20px #557174;
}