// #myVideo {
//    width: 100vw;
//    height: 100vh;
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    opacity: 0.9;
// }

header {
   height: 95vh;
   min-height: 600px;
   background-image: linear-gradient(
      to right bottom, 
      rgba(28, 93, 121, 0.95),
      rgba(130, 217, 255, 0.9)), 
      url(../images/mac.jpg);
   background-size: cover;
   background-position: top;
   position: relative;
   clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.name {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.main-heading {
   color: #fff;
   text-transform: uppercase;
   text-shadow: 0 4px 7px black;
   // top: 17%;
}

.intro-name {
   display: block;
   font-size: 6rem;
   font-weight: 400;
   letter-spacing: 30px;
   margin-bottom: 10px;
   animation: moveInLeft 1.2s;
}

.job-title {
   display: block;
   font-size: 2.2rem;
   font-weight: 400;
   letter-spacing: 12px;
   animation: moveInRight 1.2s;
}

@keyframes moveInLeft {
   0% {
      opacity: 0;
      transform: translateX(-100px);
   }
   80% {
      transform: translateX(10px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes moveInRight {
   0% {
      opacity: 0;
      transform: translateX(100px);
   }
   80% {
      transform: translateX(-10px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes moveInBottom {
   0% {
      opacity: 0;
      transform: translateY(30px);
   }
   100% {
      opacity: 1;
      transform: translate(0);
   }
}