.logo {
   font-family: 'Sacramento', cursive;
   font-size: 5rem;
   padding: 0 0 20px;
}

   .nav-container {
      background-color: #c7cfb7;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
   }

nav {
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

   ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
   }

   li {
      margin: 0 15px;
   }
   
   a {
      text-decoration: none;
      color: #424642;
      padding: 10px 15px;
      display: inline-block;

      &:hover {
         animation: jiggle 1.2s linear infinite 0.1s;
      }
   }
}

@keyframes jiggle {
   25% {
      transform: scale(1.2) rotate(2deg);
   }
   38% {
      transform: scale(1.2) rotate(-2deg);
   }
   65% {
      transform: scale(1.03) rotate(0);
   }
}