.hide-menu {
   display: none;

   i {
      font-size: 3rem;
      cursor: pointer;
      position: fixed;
      top: 25px;
      right: 40px;
      z-index: 3;
      transition: all 0.25s ease;

      @include smallTabletMQ {
         right: 30px;
      }
   }

   @include tabletMQ {
      display: block;
   }
}

.logo {
   font-size: 5rem;
   padding: 0 0 20px;

   @include tabletMQ {
      margin-left: 20px;
   }
}

   .nav-container {
      background-color: #EBEBE8;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
   }

nav {
      font-size: 1.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div:nth-of-type(2) {

         &:focus,
         &:hover {
            color: #778A35;
         }
      }

   ul {
      display: flex;
      justify-content: flex-end;

      @include tabletMQ {
         height: 100vh;
         font-size: 3rem;
         flex-direction: column;
         justify-content: center;
         position: absolute;
         padding-bottom: 250px;
         top: 77px;
         right: -500px;
         transition: all 0.6s ease;
      }

      @include smallTabletMQ {
         padding-bottom: 300px;
      }
   }

   .show-menu {
      @include tabletMQ {
         z-index: 5;
         left: 0;
         right: 0;
         text-align: center;
         background-color: #31352Ebb;
      }
   }

   li {
      margin: 0 15px;

      @include tabletMQ {
         margin-bottom: 40px;
      }
   }
   
   a {
      color: #31352E;
      text-decoration: none;
      letter-spacing: 1px;
      padding: 10px 15px;
      display: inline-block;
      transition: all 0.2s ease;

      &:hover,
      &:focus {
         transform: scale(1.2);
         &::after {
            content: "";
            position: absolute;
            background-color: #D1E2C4;
            height: 13px;
            left: 15px;
            bottom: 7px;
            width: 70%;
            z-index: -1;
         }
      }

      @include tabletMQ {
         color: #D1E2C4;

         &:hover,
         &:focus {
            &::after {
               content: "";
               position: absolute;
               background-color: #31352E;
               height: 17px;
               left: 15px;
               bottom: 7px;
               width: 80%;
               z-index: -1;
            }
         }
      }
   }
}