.hide-menu {
   display: none;

   i {
      font-size: 3rem;
      cursor: pointer;
      position: fixed;
      top: 25px;
      right: 40px;
      z-index: 3;
      transition: all 0.5s ease;

      @include smallTabletMQ {
         right: 30px;
      }

      &:hover,
      &:focus {
         color: #557174;
      }
   }

   @include tabletMQ {
      display: block;
   }
}

.logo {
   font-family: 'Sacramento', cursive;
   font-size: 5rem;
   padding: 0 0 20px;

   @include tabletMQ {
      margin-left: 20px;
   }
}

   .nav-container {
      background-color: #c7cfb7;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
   }

nav {
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

   ul {
      display: flex;
      justify-content: flex-end;

      @include tabletMQ {
         height: 100vh;
         font-size: 3rem;
         flex-direction: column;
         justify-content: center;
         position: absolute;
         padding-bottom: 250px;
         top: 77px;
         right: -500px;
         transition: all 0.6s ease;
      }

      @include smallTabletMQ {
         padding-bottom: 300px;
      }
   }

   .show-menu {
      @include tabletMQ {
         z-index: 5;
         left: 0;
         right: 0;
         text-align: center;
         background-color: #c7cfb7ee;

         li {
            margin-bottom: 40px;
         }
      }
   }

   li {
      margin: 0 15px;
   }
   
   a {
      text-decoration: none;
      color: #424642;
      padding: 10px 15px;
      display: inline-block;
      transition: color 0.5s ease;

      &:hover,
      &:focus {
         animation: jiggle 1.2s linear infinite 0.1s;
         color: #557174;
      }
   }
}

@keyframes jiggle {
   25% {
      transform: scale(1.2) rotate(2deg);
   }
   38% {
      transform: scale(1.2) rotate(-2deg);
   }
   65% {
      transform: scale(1.03) rotate(0);
   }
}