.projects {
   
   h2 {
      padding: 100px 0;
   }

   section {
      display: flex;
      border-radius: 10px;
      border: 3px solid #9dad7f;
      overflow: hidden;
      box-shadow: 8px 8px 20px #557174;
      margin-bottom: 80px;

      @include laptopMQ {
         flex-direction: column;
      }

   }
   
   .reverse-wrap {
      @include laptopMQ {
         flex-direction: column-reverse;
      }
   }

   div {
      width: 50%;
      overflow: hidden;

      @include laptopMQ {
         width: 100%;
      }
   }

   img {
      width: 120%;
      height: 100%;
      object-position: -45px;
      display: inline-block;
      transition: all 0.3s ease;

      @include laptopMQ {
         width: 100%;
         object-position: center;
      }

      &:hover {
         transform: scale(1.2);
      }
   }

   .project-details {
      padding: 20px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include tabletMQ {
         padding: 0 20px;
      }
   }

   a {
      text-decoration: none;
      color: #435560;
      transition: all 0.3s ease;
      border-bottom: 2px solid #fff;

      &:hover,
      &:focus {
         color: #5b6d5b;
         border-bottom: 2px solid #5b6d5b;
      }
   }

   h3 {
      font-size: 4rem;
      padding: 10px 0 20px;

      @include tabletMQ {
         padding-top: 27px;
      }
   }

   p {
      margin-bottom: 15px;
   }

   ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      li {
         font-size: 1.6rem;
         color: #435560;
         background-color: #ffc93c;
         padding: 4px 7px 1px;
         border-radius: 5px;
         margin: 0 15px 20px 0;

         @include mobileMQ {
            margin: 0 7px 10px 0;
         }
      }
   }

   h4 {

      a {
         color: #f7f7e8;
         background-color: #424642;
         width: 170px;
         text-align: center;
         padding: 8px 10px 5px;
         border-radius: 10px;
         border: 2px solid #9dad7f;

         &:hover,
         &:focus {
            color: #424642;
            background-color: #f7f7e8;
            border-color: #424642;
         }
      }
   }
}