@import 'setup';
@import 'mixins';
@import 'nav';
@import 'header';
@import 'projects';
@import 'about';
@import 'contact';

// font-family: 'Cardo', serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Sacramento', cursive;

.wrapper {
   width: 80vw;
   max-width: 1200px;
   margin: 0 auto;

   @include tabletMQ {
      width: 90vw;
   }

   @include mobileMQ {
      width: 95vw;
   }
}

body, div, section, main, nav, h1, h2, h3, p, a, ul, li, button {
   margin: 0;
   padding: 0;
} 


html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   font-size: 1.8rem;
   background-color: #fff;
   margin-top: 75px;
   color: #424642;
}

h1,
h2,
h3 {
   font-family: 'Cardo', serif;
   line-height: 50px;
}

h2 {
   font-size: 5rem;
   text-shadow: 9px 9px 20px #557174;
}

p,
a,
li,
button,
input,
textarea {
   font-family: 'Josefin Sans', sans-serif;
}

p {
   line-height: 27px;
}

ul {
   list-style: none;
}