@import 'setup';
@import 'mixins';
@import 'nav';
@import 'header';
@import 'projects';
@import 'about';
@import 'contact';
@import 'footer';

// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Raleway', sans-serif;

.wrapper {
   width: 80vw;
   max-width: 1200px;
   margin: 0 auto;

   @include tabletMQ {
      width: 90vw;
   }

   @include mobileMQ {
      width: 95vw;
   }
}

body, div, section, main, nav, h1, h2, h3, p, a, ul, li, button, span {
   margin: 0;
   padding: 0;
} 


html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   font-size: 1.6rem;
   background-color: #fff;
   margin-top: 82px;
   color: #31352E;
}

h1,
h2,
h3 {
   font-family: 'Nunito Sans', sans-serif;
   line-height: 50px;
   position: relative;
}

h2 {
   font-size: 5rem;
}

p,
a,
li,
button,
input,
textarea {
   font-family: 'Raleway', sans-serif;
}

p {
   line-height: 27px;
   letter-spacing: 1px;
}

ul {
   list-style: none;
}

a {
   position: relative;
}

// ::after {
//    content: "";
//    position: absolute;
//    background-color: #D1E2C4;
//    // -webkit-box-shadow: 0 0 8px #D1E2C4;
//    // box-shadow: 0 0 8px #D1E2C4;
//    height: 22px;
//    left: 5px;
//    bottom: 0;
//    width: 100%;
//    z-index: -1;
// }
