html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide-menu i {
  font-size: 3rem;
  cursor: pointer;
  position: fixed;
  padding: 12px 15px 10px;
  color: #418db9e0;
  background-color: #fff;
  top: 30px;
  right: 30px;
  z-index: 10;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hide-menu i:hover, .hide-menu i:focus {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hide-menu i:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 640px) {
  .hide-menu i {
    top: 15px;
    right: 15px;
  }
}

@media (max-width: 836px) {
  .hide-menu {
    display: block;
  }
}

.logo {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3rem;
  color: #31352E;
  background-color: #ffffffee;
  z-index: 10;
  position: absolute;
  left: 30px;
  top: 30px;
  padding: 0 5px 4px 11px;
  border-radius: 50%;
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.logo:hover, .logo:focus {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.logo:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 640px) {
  .logo {
    top: 15px;
    left: 15px;
  }
}

.logo span {
  display: inline-block;
}

.logo .g {
  -webkit-transform: translateY(-17px) translateX(1px);
          transform: translateY(-17px) translateX(1px);
}

.logo .divide {
  font-size: 5.3rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #418db9e0;
}

.logo .s {
  -webkit-transform: translateX(-6px) translateY(1px);
          transform: translateX(-6px) translateY(1px);
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav {
  height: 70px;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  height: 100vh;
  font-size: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding-bottom: 250px;
  top: 0;
  right: -500px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media (max-width: 640px) {
  nav ul {
    padding-bottom: 300px;
  }
}

nav .show-menu {
  z-index: 5;
  left: 0;
  right: 0;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(28, 93, 121, 0.95)), to(rgba(130, 217, 255, 0.9)));
  background-image: linear-gradient(to right bottom, rgba(28, 93, 121, 0.95), rgba(130, 217, 255, 0.9));
}

nav li:first-of-type {
  margin-top: 120px;
}

nav li {
  margin-bottom: 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 15px;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav .section-link:hover, nav .section-link:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav .section-link:hover::after, nav .section-link:focus::after {
  content: "";
  position: absolute;
  background-color: rgba(130, 217, 255, 0.7);
  height: 17px;
  left: 11px;
  bottom: 7px;
  width: 85%;
  z-index: -1;
}

header {
  height: 95vh;
  min-height: 600px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(28, 93, 121, 0.95)), to(rgba(130, 217, 255, 0.9))), url(../images/mac.jpg);
  background-image: linear-gradient(to right bottom, rgba(28, 93, 121, 0.95), rgba(130, 217, 255, 0.9)), url(../images/mac.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.name {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-49%, -50%);
          transform: translate(-49%, -50%);
  text-align: center;
}

@media (max-width: 640px) {
  .name {
    top: 30%;
  }
}

.main-heading {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 3px 7px black;
  font-weight: 400;
  -webkit-animation: moveInLeft 1.2s ease-out;
          animation: moveInLeft 1.2s ease-out;
}

@media (max-width: 640px) {
  .main-heading {
    line-height: 30px;
  }
}

.intro-name {
  display: block;
  font-size: 6rem;
  letter-spacing: 30px;
  margin-bottom: 10px;
}

@media (max-width: 836px) {
  .intro-name {
    font-size: 5rem;
  }
}

@media (max-width: 640px) {
  .intro-name {
    letter-spacing: 20px;
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  .intro-name {
    letter-spacing: 9px;
    font-size: 2.7rem;
    margin-bottom: 30px;
  }
}

.job-title {
  display: inline-block;
  font-size: 2.1rem;
  letter-spacing: 12px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  -webkit-animation: typewriter 1s 1.3s;
          animation: typewriter 1s 1.3s;
  -webkit-animation-timing-function: steps(25, end);
          animation-timing-function: steps(25, end);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media (max-width: 836px) {
  .job-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 640px) {
  .job-title {
    letter-spacing: 6px;
    font-size: 1.6rem;
  }
}

@media (max-width: 450px) {
  .job-title span {
    display: block;
  }
}

.job-title::after {
  content: "|";
  font-size: 2.7rem;
  position: absolute;
  right: -14px;
  bottom: 3px;
  -webkit-animation: caret 1s infinite;
          animation: caret 1s infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

@media (max-width: 640px) {
  .job-title::after {
    right: -7px;
    bottom: 3px;
    font-size: 2rem;
  }
}

.resume-container {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 70px;
}

.resume {
  display: inline-block;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #31352E;
  background-color: #fff;
  padding: 15px 60px;
  border-radius: 100px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: moveInBottom 0.5s ease-out 2.5s;
          animation: moveInBottom 0.5s ease-out 2.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.resume:hover, .resume:focus {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.resume:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 640px) {
  .resume {
    font-size: 1.6rem;
    padding: 15px 50px;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.projects h2 {
  padding: 100px 0;
  position: relative;
}

.projects h2::after {
  content: "";
  position: absolute;
  background-color: rgba(130, 217, 255, 0.8);
  height: 21px;
  left: -1px;
  bottom: 98px;
  width: 272px;
  z-index: -1;
}

.projects section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  overflow: hidden;
  border-top: 2px solid #418db9aa;
  border-bottom: 2px solid #418db9aa;
}

@media (max-width: 1060px) {
  .projects section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.projects section:last-child {
  margin-bottom: 0;
}

@media (max-width: 1060px) {
  .projects .reverse-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.projects div {
  width: 50%;
  overflow: hidden;
}

@media (max-width: 1060px) {
  .projects div {
    width: 100%;
  }
}

.projects img {
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projects img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects .project-details {
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 836px) {
  .projects .project-details {
    padding: 0 20px;
  }
}

.projects a {
  text-decoration: none;
  color: #31352E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 2px solid #fff;
}

.projects a:hover, .projects a:focus {
  color: #418db9aa;
  border-bottom: 2px solid #418db9aa;
}

.projects h3 {
  font-size: 4rem;
  padding: 10px 0 20px;
}

@media (max-width: 836px) {
  .projects h3 {
    padding-top: 27px;
  }
}

.projects p {
  margin-bottom: 15px;
}

.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects ul li {
  font-size: 1.6rem;
  color: #31352E;
  background-color: rgba(130, 217, 255, 0.7);
  padding: 4px 7px 3px;
  border-radius: 5px;
  margin: 0 15px 20px 0;
}

@media (max-width: 450px) {
  .projects ul li {
    margin: 0 7px 10px 0;
  }
}

.projects h4 a {
  color: #fff;
  background-color: #31352E;
  width: 170px;
  text-align: center;
  padding: 8px 10px 7px;
  border-radius: 10px;
  border: 2px solid #31352E;
}

.projects h4 a:hover, .projects h4 a:focus {
  color: #31352E;
  background-color: #fff;
  border-color: #31352E;
}

.about-wrapper {
  padding-top: 10px;
}

.about-wrapper h2 {
  margin: 80px 0 80px;
}

.about-wrapper h2::after {
  content: "";
  position: absolute;
  background-color: rgba(130, 217, 255, 0.8);
  height: 21px;
  left: -3px;
  bottom: -2px;
  width: 233px;
  z-index: -1;
}

.self-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 320px;
  height: 320px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 10px #418db933, 0 5px 10px #418db933, 0 6px 10px #418db933;
          box-shadow: 0 4px 10px #418db933, 0 5px 10px #418db933, 0 6px 10px #418db933;
  -webkit-animation: bounce 3s linear infinite;
          animation: bounce 3s linear infinite;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (max-width: 1060px) {
  .self-container {
    margin-bottom: 40px;
  }
}

@media (max-width: 836px) {
  .self-container {
    margin-bottom: 60px;
  }
}

@media (max-width: 450px) {
  .self-container {
    width: 300px;
    height: 300px;
  }
}

.self-container .pic {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.self-container:hover, .self-container:focus {
  -webkit-box-shadow: 0 0.8px 11px #418db977, 0 1.1px 11px #418db977, 0 1.4px 11px #418db977;
          box-shadow: 0 0.8px 11px #418db977, 0 1.1px 11px #418db977, 0 1.4px 11px #418db977;
}

.hidden {
  opacity: 0;
}

.shown {
  opacity: 1;
}

.about {
  padding-bottom: 40px;
}

.about .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1060px) {
  .about .about-me {
    padding-bottom: 30px;
  }
}

.about .about-me div {
  width: 60%;
}

@media (max-width: 1060px) {
  .about .about-me div {
    width: 50%;
  }
}

@media (max-width: 836px) {
  .about .about-me div {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .about .about-me div {
    width: 100%;
  }
}

@media (max-width: 836px) {
  .about .about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.about a {
  text-decoration: none;
  color: tomato;
}

.about a:hover, .about a:focus {
  text-decoration: underline;
}

.about div:last-child {
  width: 100%;
}

.about p {
  padding: 0 0 15px 15px;
  line-height: 29px;
}

.about p:before {
  font-family: 'Font Awesome 5 free';
  content: '\f0da';
  position: relative;
  right: 13px;
  font-weight: 900;
  margin-right: -7px;
}

.about ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 60px;
  width: 90px;
  text-align: center;
}

@media (max-width: 640px) {
  .about li {
    margin: 0 10px 40px;
    width: 80px;
  }
}

.about li i {
  font-size: 7rem;
  padding-bottom: 15px;
}

@media (max-width: 640px) {
  .about li i {
    font-size: 6rem;
  }
}

@media (max-width: 450px) {
  .about li i {
    font-size: 5rem;
  }
}

.about li .fa-html5 {
  color: #ff6644;
}

.about li .fa-css3-alt {
  color: #0084ff;
}

.about li .fa-sass {
  color: #ff80c1;
}

.about li .fa-js-square {
  color: #f6bc00;
}

.about li .devicon-jquery-plain {
  color: #2f60b5;
}

.about li .fa-get-pocket {
  color: #2f60ff;
}

.about li .devicon-firebase-plain {
  color: #f69a00;
}

.about li .fa-react {
  color: #5fb8d6;
}

.about li .fa-mobile-alt {
  color: #ff6644;
}

.about li .fa-universal-access {
  color: #0084ff;
}

@-webkit-keyframes bounce {
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.contact {
  background-color: #EBEBE8;
  padding-bottom: 80px;
  -webkit-clip-path: polygon(0 0, 100% 5vh, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 5vh, 100% 100%, 0 100%);
}

.contact h2 {
  padding: 80px 0;
}

.contact h2::after {
  content: "";
  position: absolute;
  background-color: rgba(130, 217, 255, 0.8);
  height: 23px;
  left: -2px;
  bottom: 75px;
  width: 188px;
  z-index: -1;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 836px) {
  .contact-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-section .my-info {
  width: 43%;
}

@media (max-width: 836px) {
  .contact-section .my-info {
    margin: 0 auto;
    width: 80%;
  }
}

@media (max-width: 640px) {
  .contact-section .my-info {
    width: 100%;
  }
}

.contact-section .my-info h3 {
  line-height: 0;
  padding-bottom: 30px;
}

.contact-section .my-info h3::after {
  content: "";
  position: absolute;
  background-color: rgba(130, 217, 255, 0.8);
  height: 15px;
  left: -2px;
  bottom: 15px;
  width: 91px;
  z-index: -1;
}

.contact-section .my-info p {
  margin: 20px 0 40px;
}

.contact-section .my-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 50px;
}

@media (max-width: 640px) {
  .contact-section .my-info ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-section .my-info ul li {
  margin-right: 15px;
}

.contact-section .my-info ul a {
  color: #31352E;
  font-size: 3rem;
  padding: 15px 15px 10px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-section .my-info ul a:focus, .contact-section .my-info ul a:hover {
  background-color: rgba(130, 217, 255, 0.8);
  -webkit-box-shadow: 0 1px 10px #31352E55, 0 2px 10px #31352E33, 0 3px 10px #31352E11;
          box-shadow: 0 1px 10px #31352E55, 0 2px 10px #31352E33, 0 3px 10px #31352E11;
}

.contact-section .send-message {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 836px) {
  .contact-section .send-message {
    margin: 0 auto;
    width: 80%;
  }
}

@media (max-width: 640px) {
  .contact-section .send-message {
    width: 100%;
  }
}

.contact-section .send-message input, .contact-section .send-message textarea {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid rgba(130, 217, 255, 0.8);
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
  resize: none;
}

.contact-section .send-message input:focus, .contact-section .send-message input:hover, .contact-section .send-message textarea:focus, .contact-section .send-message textarea:hover {
  border-color: #6e7c7c;
}

@media (max-width: 836px) {
  .contact-section .send-message input, .contact-section .send-message textarea {
    margin-bottom: 15px;
  }
}

.contact-section .send-message textarea {
  height: 100px;
}

.contact-section .send-message button {
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
  width: 110px;
  padding: 8px 0 6px;
  border-radius: 7px;
  border: 2px solid #418db9aa;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #fff;
  background-color: #31352E;
  border: 2px solid #31352E;
}

.contact-section .send-message button:focus, .contact-section .send-message button:hover {
  color: #31352E;
  background-color: #fff;
  border-color: #31352E;
}

footer {
  color: #fff;
  background-color: #424642;
  text-align: center;
  padding: 15px;
}

footer p {
  line-height: 20px;
}

footer p:first-of-type {
  font-size: 2rem;
}

footer p:last-child {
  color: #d1d1d1;
  font-size: 1.7rem;
  letter-spacing: -0.5px;
}

.wrapper {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 836px) {
  .wrapper {
    width: 90vw;
  }
}

@media (max-width: 450px) {
  .wrapper {
    width: 95vw;
  }
}

body, div, section, main, nav, h1, h2, h3, p, a, ul, li, button, span {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: #fff;
  color: #31352E;
}

h1,
h2,
h3 {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 50px;
  position: relative;
}

h2 {
  font-size: 5rem;
}

p,
a,
li,
button,
input,
textarea {
  font-family: 'Raleway', sans-serif;
}

p {
  line-height: 27px;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

a {
  position: relative;
  text-decoration: none;
}
